@import models.storage.Person
@import models.storage.PrivateMessage

@(persons: List[Person],message: PrivateMessage, form: Form[PrivateMessage], personsstring: Map[String,String])
<head>
    <script src="@routes.Assets.at("javascripts/coffeeContent.js")" type="text/javascript"></script>
</head>
<div class="container">
@if(!persons.isEmpty) {
    <h1>Alle gebruikers</h1>
    <p>Herlaad de pagina om veranderingen te kunnen zien. <button onclick="getTestPage('/Message/chat')">
        Pagina herladen</button></p>

    <div class="row col-lg-12">
        <div class="col-lg-12">
            <form method="POST" action="@routes.PersonController.sendMsg()">
                @helper.CSRF.formField
                <label>Sender: </label>
                <select id="sender" name="sender">
                    @for(person <- persons) {
                    <option value="@person.id" name="sender" id="@person.id">@person.username</option>
                    }
                </select>
                @helper.CSRF.formField
                <label>Message: </label>
                <input type="text" name="message" placeholder="Message"/>
                @helper.CSRF.formField
                <label>Reciever</label>
                <select id="recipient" name="recipient">
                    @for(person <- persons) {
                    <option value="@person.id" id="@person.id" name="recipient">@person.username</option>
                    }
                </select>
                <button type="submit">Verstuur</button>
            </form>
        </div>
    </div>
} else {
    <p>Geen gebruikers gevonden?</p>
}

</div>
