<script src="@routes.Assets.at("javascripts/peopleContent.js")" type="text/javascript"></script>
<div class="container">
    <h1>Login</h1>
    <form method="POST" action="@routes.PersonController.login()">
        @helper.CSRF.formField
        <label>Gebruikersnaam: </label>
        <input type="text" name="username" placeholder="Gebruikersnaam"/>
        @helper.CSRF.formField
        <label>Wachtwoord: </label>
        <input type="text" name="password" placeholder="Wachtwoord"/>
        <button>Inloggen</button>
    </form>
</div>