@import models.storage.Person
@(persons: List[Person])

<script>
        function deletePerson(id) {
            $.get('/deletePerson/' + id, function (data) {
                getPeople();
            });
        }
</script>
    <h1>All people</h1>
    @for(person <- persons) {
    <p>@person.name   <button onclick="deletePerson(@person.id)">Delete</button></p>
       <!-- <form method="POST" action="routes.PersonController.deletePerson(person.id)">
            helper.CSRF.formField
        <input type="text" name="name"/>
        <button>Delete Person</button>
        </form>-->

    }

    <a href="@routes.PersonController.index()">Terug naar persoon toevoegen</a>

