@import models.storage.Person
@(persons: List[Person])

<script>
        function deletePerson(id) {
            $.get('/deletePerson/' + id, function (data) {
                getPeople();
            });
        }

        function editPerson(id, newName) {
            $.get('/editPerson/' + id + '/' + newName, function (data) {
                getPeople();
            });
        }

</script>
<div class="container">
    <h1>All people</h1>
    <p>Refresh the page to see changes.</p>
    @for(person <- persons) {
        <p>@person.username
        <input type="text" id="inputname@person.id"/>
        <button onclick="editPerson(@person.id, $('#inputname@person.id').val())">Edit</button>
        <button onclick="deletePerson(@person.id)">Delete</button></p>
    }
    <a href="@routes.PersonController.index()">Terug naar persoon toevoegen (werkt niet)</a>
</div>