@()

@site.main("KoffieApp") {
    <script>

        $(document).ready(function() {
            getPeople();
        });
        function getPeople() {
            $.get('/persons', function (data) {
                console.log(data);
                setPeopleContent(data);
            });
        }

        function setPeopleContent(data) {
            const container = $('#peopleContainer');
            container.empty();

            $.each(data, function(index, element) {
               var li = $('<li>').text(element.name).appendTo(container);
               var deleteButton = $('<button>').text(' delete').appendTo(li);
                deleteButton.bind('click', function() {
                    deletePerson(element.id);
                })

                var editButton = $('<button>').text(' Edit').appendTo(li);
                editButton.bind('click', function() {
                    var newName = $("#nameinput").val();
                    editPerson(element.id,newName);
                })

            });

            if(data.length === 0) {
                $('<p>').text("No people").appendTo(container);
            }
        }


        function deletePerson(id) {
            $.get('/deletePerson/' + id, function (data) {
                getPeople();
            });
        }

        function getTestPage(url) {
            $.get(url, function (data) {
                setPageContent(data);
            });
        }

        function setPageContent(data) {
            const container = $('#pageContent');
            container.empty();
            const html = $.parseHTML(data);
            container.append(html);
        }



    </script>

    <nav>
        <button onclick="getTestPage('/test/mainpage')">Test page</button>
        <button onclick="getTestPage('/test/otherpage')">Other test page</button>
    </nav>
<div class="container">
    <h1>Add person</h1>
    <form method="POST" action="@routes.PersonController.addPerson()">
        @helper.CSRF.formField
        <input type="text" name="name" id="nameinput"/>
        <button>Add Person</button>
    </form>

    <h1>All people</h1>
    <button onclick="getPeople()">Reload people</button>
    <div id="peopleContainer"></div>

    <div id="pageContent"></div>
</div>
}
