@()

@site.main("Welcome to Play") {
    <script>

        $(document).ready(function() {
            getPeople();
        });
        function getPeople() {
            $.get('/persons', function (data) {
                console.log(data);
                setPeopleContent(data);
            });
        }

        function setPeopleContent(data) {
            const container = $('#peopleContainer');
            container.empty();

            $.each(data, function(index, element) {
               var li = $('<li>').text(element.name).appendTo(container);
               var deleteButton = $('<button>').text(' delete').appendTo(li);
                deleteButton.bind('click', function() {
                    deletePerson(element.id);
                })
                var editButton = $('<button>').text(' Edit').appendTo(li);
                editButton.bind('click', function() {
                    editPerson(element.id);
                })

            });

            if(data.length === 0) {
                $('<p>').text("No people").appendTo(container);
            }
        }

        function editPerson(id) {
            $.get('/editPerson/' + id, function (data) {
                getPeople();
            });
        }

    </script>

}
