@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/coffee.png")">
        <script src="@routes.Assets.at("javascripts/jquery-2.2.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/pageLoading.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascrips/coffeeContent.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/peopleContent.js")" type="text/javascript"></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        <div class="navbar">
            <div class="dropdown" >
                <button class="dropbtn">Test
                <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a onclick="getTestPage('/test/mainpage')">Test page</a>
                    <a onclick="getTestPage('/test/otherpage')">Other test page</a>
                </div>
            </div>
            <div class="dropdown" >
                <button class="dropbtn">Person
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a onclick="getTestPage('/person/addperson')">Add person</a>
                    <a onclick="getTestPage('/person/overview')">Person overview</a>
                    <a onclick="getTestPage('/person/login')">Login</a>
                </div>
            </div>
            <div class="dropdown" >
                <button class="dropbtn">Coffee
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a onclick="getTestPage('/coffee/addCoffee')">Add coffee</a>
                    <a onclick="getTestPage('/coffee/overview')">Coffee overview</a>
                </div>
            </div>
        </div>
        <div id="pageContent"></div>
    </body>
</html>
