@import models.storage.Coffee
@(coffees: List[Coffee])
<head>
    <script src="@routes.Assets.at("javascripts/coffeeContent.js")" type="text/javascript"></script></head>
<script>
        function deleteCoffee(id) {
            $.get('/deleteCoffee/' + id, function (data) {
                getCoffee()();
            });
        }

        function editCoffee(id, newName) {
            $.get('/editCoffee/' + id + '/' + newName, function (data) {
                getCoffee();
            });
        }

</script>
    <div class="container">
        @if(!coffees.isEmpty) {
        <h1>Alle Koffie's</h1>
          <p>Herlaad de pagina om veranderingen te kunnen zien. <button onclick="getTestPage('/coffee/overview')">Pagina herladen</button></p>
            @for(coffee <- coffees) {
                <p>@coffee.getName()
                <input type="text" id="inputname@coffee.id"/>
                <button onclick="editCoffee(@coffee.id, $('#inputname@coffee.id').val())">Wijzigen</button>
                <button onclick="deleteCoffee(@coffee.id)">Verwijderen</button></p>
            }
              <a href="#" onclick="getTestPage('/coffee/addCoffee')">Terug naar koffie toevoegen</a>
        } else {
            <p>Coffee's not hot, geen koffie gevonden..</p>
        }
    </div>
