@import models.storage.Coffee
@(coffees: List[Coffee])
<head>
    <script src="@routes.Assets.at("javascripts/coffeeContent.js")" type="text/javascript"></script></head>
<script>
        function deleteCoffee(id) {
            $.get('/deleteCoffee/' + id, function (data) {
                getCoffee()();
            });
        }

        function editCoffee(id, newName) {
            $.get('/editCoffee/' + id + '/' + newName, function (data) {
                getCoffee();
            });
        }

</script>
    <div class="container">
        @if(!coffees.isEmpty) {
        <h1>All Coffees</h1>
          <p>Refresh the page to see changes.</p>
            @for(coffee <- coffees) {
                <p>@coffee.getName()
                <input type="text" id="inputname@coffee.id"/>
                <button onclick="editCoffee(@coffee.id, $('#inputname@coffee.id').val())">Edit</button>
                <button onclick="deleteCoffee(@coffee.id)">Delete</button></p>
            }
            <a href="@routes.PersonController.index()">Terug naar persoon toevoegen (werkt niet)</a>
        } else {
            <p>Coffee's not hot, no Coffee found..</p>
        }
    </div>
